@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import "tailwindcss";
@import 'primeicons/primeicons.css';

@plugin "daisyui" {
  themes: night --default
}

body {
  background-color: var(--color-base-100);
  font-family: 'Lato', sans-serif;
}

h4 {
  margin: 0;
  text-transform: uppercase;
}

.btn:focus,
.delete-btn:focus {
  outline: 0;
}